   .wrap{
    		max-width: 1024px;
    		margin-left: auto;
    		margin-right: auto;
    		

    		border-radius: 10px;
    		background-color: #eee;
    		padding: 20px;
    		
    	}
    	.title{
    		font-size: 32px;
    		font-weight: bold;
    	}
    	.group{
    		border: 2px solid #888;
    		background-color: white;
    		padding: 20px;
    		margin-top: 10px;
    	}
    	.img-fluid{
    		border: 2px solid #888;
    	}
    	.buttons{
    		text-align:right;
    		
		}
    	button{
    		color: #fff;
    		padding: 0px 10px 0px 20px;
    		background: rgb(176,7,7);
			background: linear-gradient(90deg, rgba(176,7,7,1) 21%, rgba(255,35,47,1) 22%);
    	}